In [509]:
import pandas as pd

path_df1 = "C:/Users/osanc/Desktop/IronHack/Sem_3/Proyecto/pip.csv"
path_df2 = "C:/Users/osanc/Desktop/IronHack/Sem_3/Proyecto/completion-rate-of-upper-secondary-education-sdg.csv"
path_df3 = "C:/Users/osanc/Desktop/IronHack/Sem_3/Proyecto/expected-years-of-schooling-vs-share-in-extreme-poverty.csv"
path_df5 = "C:/Users/osanc/Desktop/IronHack/Sem_3/Proyecto/total-government-expenditure-on-education-gdp.csv"
path_df6 = "C:/Users/osanc/Desktop/IronHack/Sem_3/Proyecto/country-coord.csv"

df1 = pd.read_csv(path_df1)
df3 = pd.read_csv(path_df3)
df5 = pd.read_csv(path_df5)
df6 = pd.read_csv(path_df6)

In [510]:
df1.head(3)

,region_name,region_code,country_name,country_code,reporting_year,reporting_level,survey_acronym,survey_coverage,survey_year,welfare_type,...,cpi,ppp,reporting_pop,reporting_gdp,reporting_pce,is_interpolated,distribution_type,estimation_type,spl,spr
0,Sub-Saharan Africa,SSA,Angola,AGO,2000,national,HBS,national,2000.21,consumption,...,0.014173,107.269989,16509042.25,1909.502065,NaN,False,micro,survey,3.486659,0.372371
1,Sub-Saharan Africa,SSA,Angola,AGO,2008,national,IBEP-MICS,national,2008.50,consumption,...,0.302878,107.269989,22099598.00,3176.672166,1201.311092,False,micro,survey,3.501550,0.353722
2,Sub-Saharan Africa,SSA,Angola,AGO,2018,national,IDREA,national,2018.17,consumption,...,1.231041,107.269989,31457142.35,2777.843045,1495.340595,False,micro,survey,2.860251,0.422226

In [511]:
df1.columns

Index(['region_name', 'region_code', 'country_name', 'country_code',
       'reporting_year', 'reporting_level', 'survey_acronym',
       'survey_coverage', 'survey_year', 'welfare_type',
       'survey_comparability', 'comparable_spell', 'poverty_line', 'headcount',
       'poverty_gap', 'poverty_severity', 'watts', 'mean', 'median', 'mld',
       'gini', 'polarization', 'decile1', 'decile2', 'decile3', 'decile4',
       'decile5', 'decile6', 'decile7', 'decile8', 'decile9', 'decile10',
       'cpi', 'ppp', 'reporting_pop', 'reporting_gdp', 'reporting_pce',
       'is_interpolated', 'distribution_type', 'estimation_type', 'spl',
       'spr'],
      dtype='object')

In [512]:
df1 = df1[['region_name', 'region_code', 'country_name', 'country_code','reporting_year','gini','poverty_line', 'headcount','poverty_gap','reporting_pop', 'reporting_gdp']]

In [513]:
df1["codigo"] = df1['country_code'] + "_" + df1['reporting_year'].astype(str)

In [514]:
df1.head(5)

,region_name,region_code,country_name,country_code,reporting_year,gini,poverty_line,headcount,poverty_gap,reporting_pop,reporting_gdp,codigo
0,Sub-Saharan Africa,SSA,Angola,AGO,2000,0.519569,2.15,0.213606,0.091179,16509042.25,1909.502065,AGO_2000
1,Sub-Saharan Africa,SSA,Angola,AGO,2008,0.427155,2.15,0.145897,0.040396,22099598.00,3176.672166,AGO_2008
2,Sub-Saharan Africa,SSA,Angola,AGO,2018,0.512721,2.15,0.311220,0.119329,31457142.35,2777.843045,AGO_2018
3,Europe & Central Asia,ECA,Albania,ALB,1996,0.270103,2.15,0.005348,0.000982,3168033.00,1633.552000,ALB_1996
4,Europe & Central Asia,ECA,Albania,ALB,2002,0.317390,2.15,0.010926,0.001894,3051010.00,2247.498080,ALB_2002

In [515]:
df3.head(3)

,Entity,Code,Year,Expected years of schooling,$2.15 a day - Share of population in poverty,Population (historical),Continent
0,Abkhazia,OWID_ABK,2015,NaN,NaN,NaN,Asia
1,Afghanistan,AFG,1990,2.936460,NaN,12045664.0,NaN
2,Afghanistan,AFG,1991,3.228456,NaN,12238879.0,NaN

In [516]:
df3["codigo"] = df3['Code']+"_"+df3['Year'].astype(str)

In [517]:
df3 = df3[["codigo","Expected years of schooling"]]

In [518]:
df3.rename(columns={"Expected years of schooling":"expected_years_school"}, inplace=True)

In [519]:
df3.head()

          codigo  expected_years_school
0  OWID_ABK_2015                    NaN
1       AFG_1990               2.936460
2       AFG_1991               3.228456
3       AFG_1992               3.520452
4       AFG_1993               3.812448

In [520]:
df5.head(3)

        Entity Code  Year  Historical and more recent expenditure estimates
0  Afghanistan  AFG  1971                                           1.16036
1  Afghanistan  AFG  1972                                           1.11718
2  Afghanistan  AFG  1973                                           1.42788

In [521]:
df5["codigo"] = df5['Code']+"_"+df5['Year'].astype(str)

In [522]:
df5 = df5[["codigo","Historical and more recent expenditure estimates"]]

In [523]:
df5.rename(columns={"Historical and more recent expenditure estimates":"spend_public_education"}, inplace=True)

In [524]:
df5.head(3)

     codigo  spend_public_education
0  AFG_1971                 1.16036
1  AFG_1972                 1.11718
2  AFG_1973                 1.42788

In [525]:
df6.head(3)

,Country,Alpha-2 code,Alpha-3 code,Numeric code,Latitude (average),Longitude (average)
0,Afghanistan,AF,AFG,4,33.0,65.0
1,Albania,AL,ALB,8,41.0,20.0
2,Algeria,DZ,DZA,12,28.0,3.0

In [526]:
df6.rename(columns={"Alpha-3 code":"country_code","Latitude (average)":"Latitude","Longitude (average)":"Longitude"}, inplace=True)

In [527]:
df6 = df6[["country_code","Latitude","Longitude"]]

In [528]:
df_merged = pd.merge(df1, df3, on='codigo', how='left')
df_merged = pd.merge(df_merged, df5, on='codigo', how='left') 
df_merged = pd.merge(df_merged, df6, on='country_code', how='left')

In [529]:
df_merged.head()

,region_name,region_code,country_name,country_code,reporting_year,gini,poverty_line,headcount,poverty_gap,reporting_pop,reporting_gdp,codigo,expected_years_school,spend_public_education,Latitude,Longitude
0,Sub-Saharan Africa,SSA,Angola,AGO,2000,0.519569,2.15,0.213606,0.091179,16509042.25,1909.502065,AGO_2000,4.821837,2.607530,-12.5,18.5
1,Sub-Saharan Africa,SSA,Angola,AGO,2008,0.427155,2.15,0.145897,0.040396,22099598.00,3176.672166,AGO_2008,8.237663,NaN,-12.5,18.5
2,Sub-Saharan Africa,SSA,Angola,AGO,2018,0.512721,2.15,0.311220,0.119329,31457142.35,2777.843045,AGO_2018,12.167600,2.044701,-12.5,18.5
3,Europe & Central Asia,ECA,Albania,ALB,1996,0.270103,2.15,0.005348,0.000982,3168033.00,1633.552000,ALB_1996,10.161500,3.083510,41.0,20.0
4,Europe & Central Asia,ECA,Albania,ALB,2002,0.317390,2.15,0.010926,0.001894,3051010.00,2247.498080,ALB_2002,11.020560,3.117800,41.0,20.0

In [530]:
df_merged.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2499 entries, 0 to 2498
Data columns (total 16 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   region_name             2499 non-null   object
 1   region_code             2499 non-null   object
 2   country_name            2499 non-null   object
 3   country_code            2499 non-null   object
 4   reporting_year          2499 non-null   int64
 5   gini                    2493 non-null   float64
 6   poverty_line            2499 non-null   float64
 7   headcount               2499 non-null   float64
 8   poverty_gap             2499 non-null   float64
 9   reporting_pop           2499 non-null   float64
 10  reporting_gdp           2499 non-null   float64
 11  codigo                  2499 non-null   object
 12  expected_years_school   2256 non-null   float64
 13  spend_public_education  1883 non-null   float64
 14  Latitude                2487 non-null   float64
 15  Longitude               2487 non-null   float64
dtypes: float64(10), int64(1), object(5)
memory usage: 312.5+ KB

In [531]:
df_merged = df_merged[(df_merged["reporting_year"]>=2000) & (df_merged["reporting_year"]<=2019)]

In [532]:
df_merged.isnull().sum()

region_name                 0
region_code                 0
country_name                0
country_code                0
reporting_year              0
gini                        0
poverty_line                0
headcount                   0
poverty_gap                 0
reporting_pop               0
reporting_gdp               0
codigo                      0
expected_years_school      22
spend_public_education    264
Latitude                   12
Longitude                  12
dtype: int64

In [533]:
# NÃºmero de columnas en el DataFrame
num_columns = len(df_merged.columns)

In [534]:
df_merged = df_merged.dropna(thresh=num_columns - 3)

In [535]:
df_merged.isnull().sum()

region_name                 0
region_code                 0
country_name                0
country_code                0
reporting_year              0
gini                        0
poverty_line                0
headcount                   0
poverty_gap                 0
reporting_pop               0
reporting_gdp               0
codigo                      0
expected_years_school      10
spend_public_education    252
Latitude                    0
Longitude                   0
dtype: int64

In [537]:
df_merged['expected_years_school'] = df_merged.groupby('country_name')['expected_years_school'].transform(lambda x: x.fillna(x.mean()))

In [538]:
df_merged['spend_public_education'] = df_merged.groupby('country_name')['spend_public_education'].transform(lambda x: x.fillna(x.mean()))

In [539]:
df_merged.isnull().sum()

region_name                0
region_code                0
country_name               0
country_code               0
reporting_year             0
gini                       0
poverty_line               0
headcount                  0
poverty_gap                0
reporting_pop              0
reporting_gdp              0
codigo                     0
expected_years_school      9
spend_public_education    61
Latitude                   0
Longitude                  0
dtype: int64

In [541]:
df_merged = df_merged.dropna(subset=["expected_years_school", "spend_public_education"])

In [542]:
df_merged.isnull().sum()

region_name               0
region_code               0
country_name              0
country_code              0
reporting_year            0
gini                      0
poverty_line              0
headcount                 0
poverty_gap               0
reporting_pop             0
reporting_gdp             0
codigo                    0
expected_years_school     0
spend_public_education    0
Latitude                  0
Longitude                 0
dtype: int64

In [543]:
df_merged.shape

(1633, 16)

In [544]:
df_merged.region_name.value_counts()

region_name
Europe & Central Asia          492
Other High Income Countries    434
Latin America & Caribbean      289
East Asia & Pacific            181
Sub-Saharan Africa             143
South Asia                      53
Middle East & North Africa      41
Name: count, dtype: int64

In [545]:

df_merged.groupby(["region_name","country_name"]).agg({
    'gini': 'mean',
    'headcount': 'mean',
    "expected_years_school":"mean",
    "spend_public_education":"mean"})

                                                          gini  headcount  \
region_name                 country_name
East Asia & Pacific         China                     0.374060   0.086152
                            Fiji                      0.364703   0.010968
                            Indonesia                 0.347737   0.191878
                            Kiribati                  0.324029   0.078526
                            Lao PDR                   0.356868   0.157365
                            Malaysia                  0.434548   0.004631
                            Marshall Islands          0.354829   0.008543
                            Micronesia, Fed. Sts.     0.485585   0.226901
                            Mongolia                  0.333195   0.021908
                            Myanmar                   0.343827   0.041041
                            Philippines               0.435967   0.111161
                            Samoa                     0.405085   0.014603
                            Thailand                  0.388421   0.005756
                            Timor-Leste               0.308038   0.354112
                            Tonga                     0.362360   0.020491
                            Vanuatu                   0.348344   0.123069
                            Viet Nam                  0.362012   0.094511
Europe & Central Asia       Albania                   0.328722   0.014736
                            Armenia                   0.320427   0.029814
                            Azerbaijan                0.283484   0.012575
                            Belarus                   0.275619   0.015669
                            Bulgaria                  0.358802   0.019386
                            Croatia                   0.312431   0.004598
                            Czechia                   0.261238   0.000241
                            Estonia                   0.333044   0.008492
                            Georgia                   0.378408   0.113616
                            Hungary                   0.295911   0.002376
                            Kazakhstan                0.299260   0.022237
                            Kyrgyz Republic           0.300817   0.096294
                            Latvia                    0.356924   0.009320
                            Lithuania                 0.352746   0.010175
                            Moldova                   0.316028   0.048211
                            North Macedonia           0.378165   0.044395
                            Poland                    0.328570   0.002408
                            Romania                   0.322250   0.029390
                            Russian Federation        0.386553   0.004410
                            Serbia                    0.334405   0.021633
                            Slovak Republic           0.265787   0.003071
                            Slovenia                  0.254070   0.000151
                            Tajikistan                0.326574   0.167624
                            Turkiye                   0.411283   0.008684
                            Ukraine                   0.264622   0.003280
Latin America & Caribbean   Argentina                 0.456094   0.027153
                            Bolivia                   0.506685   0.094150
                            Brazil                    0.545740   0.071482
                            Chile                     0.479612   0.021295
                            Colombia                  0.535145   0.092433
                            Costa Rica                0.489223   0.027091
                            Dominican Republic        0.477484   0.047485
                            Ecuador                   0.489036   0.077302
                            El Salvador               0.446823   0.070973
                            Grenada                   0.438164   0.003179
                            Guatemala                 0.523419   0.102597
                            Honduras                  0.532355   0.170825
                            Jamaica                   0.431374   0.011207
                            Mexico                    0.495350   0.055970
                            Nicaragua                 0.458881   0.125299
                            Panama                    0.526158   0.053258
                            Paraguay                  0.506105   0.049034
                            Peru                      0.469025   0.102190
                            St. Lucia                 0.474651   0.026524
                            Uruguay                   0.428919   0.003610
                            Venezuela, RB             0.476802   0.140700
Middle East & North Africa  Djibouti                  0.427118   0.215611
                            Egypt, Arab Rep.          0.309549   0.018264
                            Iran, Islamic Rep.        0.375003   0.006331
                            Lebanon                   0.318324   0.000000
                            Syrian Arab Republic      0.393522   0.021121
                            Tunisia                   0.367917   0.021458
                            West Bank and Gaza        0.345270   0.004330
                            Yemen, Rep.               0.357197   0.151728
Other High Income Countries Australia                 0.340659   0.005827
                            Austria                   0.302213   0.003951
                            Belgium                   0.284578   0.001396
                            Canada                    0.334158   0.002576
                            Cyprus                    0.324780   0.000475
                            Denmark                   0.268746   0.001811
                            Finland                   0.274997   0.000544
                            France                    0.320639   0.000440
                            Germany                   0.308165   0.000124
                            Greece                    0.344402   0.007848
                            Iceland                   0.278079   0.000654
                            Ireland                   0.323680   0.002676
                            Israel                    0.404533   0.004436
                            Italy                     0.346366   0.011262
                            Japan                     0.332658   0.004026
                            Korea, Rep.               0.317008   0.002833
                            Luxembourg                0.318964   0.000834
                            Malta                     0.292374   0.001970
                            Netherlands               0.286212   0.000975
                            Norway                    0.273282   0.001800
                            Portugal                  0.360761   0.004167
                            Spain                     0.345955   0.008039
                            Sweden                    0.276962   0.004365
                            Switzerland               0.328706   0.000264
                            United Kingdom            0.344253   0.002718
                            United States             0.408618   0.009991
South Asia                  Bangladesh                0.327809   0.222450
                            Bhutan                    0.388099   0.054729
                            India                     0.345583   0.201667
                            Maldives                  0.350639   0.025953
                            Nepal                     0.383043   0.242736
                            Pakistan                  0.299286   0.138944
                            Sri Lanka                 0.386030   0.041638
Sub-Saharan Africa          Angola                    0.486482   0.223574
                            Benin                     0.419306   0.445356
                            Botswana                  0.595051   0.207508
                            Burkina Faso              0.403332   0.445399
                            Burundi                   0.359923   0.684886
                            Cabo Verde                0.473549   0.115685
                            Cameroon                  0.438659   0.275917
                            Central African Republic  0.562366   0.618842
                            Chad                      0.402150   0.417633
                            Comoros                   0.506299   0.166348
                            Congo, Rep.               0.481346   0.424556
                            Cote d'Ivoire             0.407919   0.271084
                            Eswatini                  0.530486   0.471796
                            Ethiopia                  0.326569   0.307708
                            Gabon                     0.401047   0.039762
                            Gambia, The               0.422730   0.312990
                            Ghana                     0.428865   0.311221
                            Guinea                    0.364203   0.349595
                            Guinea-Bissau             0.403331   0.471707
                            Kenya                     0.436143   0.330195
                            Lesotho                   0.482273   0.493391
                            Liberia                   0.349937   0.356321
                            Madagascar                0.431096   0.765256
                            Malawi                    0.421467   0.682706
                            Mali                      0.369496   0.425548
                            Mauritania                0.358998   0.126634
                            Mauritius                 0.369600   0.002818
                            Mozambique                0.492670   0.726383
                            Namibia                   0.611168   0.261409
                            Niger                     0.369435   0.648844
                            Rwanda                    0.473264   0.612446
                            Sao Tome and Principe     0.345589   0.195953
                            Senegal                   0.397629   0.359273
                            Seychelles                0.405719   0.007065
                            Sierra Leone              0.366294   0.420307
                            South Africa              0.623901   0.244696
                            South Sudan               0.452424   0.509345
                            Sudan                     0.348193   0.169196
                            Tanzania                  0.389637   0.574702
                            Togo                      0.434559   0.507458
                            Uganda                    0.431303   0.486310
                            Zambia                    0.517891   0.614689
                            Zimbabwe                  0.459157   0.318469

                                                      expected_years_school  \
region_name                 country_name
East Asia & Pacific         China                                 13.356753
                            Fiji                                  12.932265
                            Indonesia                             12.409637
                            Kiribati                              11.507210
                            Lao PDR                                9.709502
                            Malaysia                              12.716269
                            Marshall Islands                      15.582560
                            Micronesia, Fed. Sts.                 12.847898
                            Mongolia                              13.820177
                            Myanmar                               10.992098
                            Philippines                           11.920756
                            Samoa                                 11.926627
                            Thailand                              14.545630
                            Timor-Leste                           11.795950
                            Tonga                                 14.390116
                            Vanuatu                               11.169355
                            Viet Nam                              12.424352
Europe & Central Asia       Albania                               14.715031
                            Armenia                               12.199361
                            Azerbaijan                            12.093274
                            Belarus                               14.817102
                            Bulgaria                              14.384707
                            Croatia                               14.744734
                            Czechia                               16.068878
                            Estonia                               16.152537
                            Georgia                               14.305820
                            Hungary                               15.293651
                            Kazakhstan                            14.209030
                            Kyrgyz Republic                       12.244419
                            Latvia                                16.119184
                            Lithuania                             16.583967
                            Moldova                               12.551471
                            North Macedonia                       12.429393
                            Poland                                15.720017
                            Romania                               14.445284
                            Russian Federation                    14.570715
                            Serbia                                14.019331
                            Slovak Republic                       14.865144
                            Slovenia                              17.050932
                            Tajikistan                            10.676289
                            Turkiye                               15.532707
                            Ukraine                               14.452959
Latin America & Caribbean   Argentina                             16.855439
                            Bolivia                               14.203924
                            Brazil                                14.329754
                            Chile                                 15.053264
                            Colombia                              13.824409
                            Costa Rica                            13.482344
                            Dominican Republic                    13.055593
                            Ecuador                               14.383828
                            El Salvador                           12.009347
                            Grenada                               16.592210
                            Guatemala                              9.789938
                            Honduras                               9.797421
                            Jamaica                               11.737465
                            Mexico                                13.322510
                            Nicaragua                             10.674919
                            Panama                                12.868132
                            Paraguay                              13.294900
                            Peru                                  13.605781
                            St. Lucia                             13.742960
                            Uruguay                               15.402914
                            Venezuela, RB                         11.939480
Middle East & North Africa  Djibouti                               5.600919
                            Egypt, Arab Rep.                      11.615389
                            Iran, Islamic Rep.                    14.142649
                            Lebanon                               11.821550
                            Syrian Arab Republic                  11.245917
                            Tunisia                               13.597948
                            West Bank and Gaza                    13.140210
                            Yemen, Rep.                            8.132600
Other High Income Countries Australia                             21.818106
                            Austria                               15.868853
                            Belgium                               19.170662
                            Canada                                15.599525
                            Cyprus                                14.310464
                            Denmark                               17.752936
                            Finland                               18.049637
                            France                                15.342398
                            Germany                               16.758459
                            Greece                                17.386229
                            Iceland                               18.632134
                            Ireland                               17.763104
                            Israel                                14.839313
                            Italy                                 16.089219
                            Japan                                 15.311798
                            Korea, Rep.                           16.637955
                            Luxembourg                            13.712247
                            Malta                                 15.302252
                            Netherlands                           17.511551
                            Norway                                17.648378
                            Portugal                              16.187208
                            Spain                                 16.626874
                            Sweden                                17.347983
                            Switzerland                           15.756344
                            United Kingdom                        16.557846
                            United States                         16.303667
South Asia                  Bangladesh                             9.003622
                            Bhutan                                11.128687
                            India                                 11.172624
                            Maldives                              12.001499
                            Nepal                                 10.374425
                            Pakistan                               5.961384
                            Sri Lanka                             13.143527
Sub-Saharan Africa          Angola                                 8.409033
                            Benin                                 10.660509
                            Botswana                              11.603244
                            Burkina Faso                           6.629530
                            Burundi                                9.426195
                            Cabo Verde                            11.671467
                            Cameroon                               9.899990
                            Central African Republic               5.724323
                            Chad                                   6.965122
                            Comoros                               10.437656
                            Congo, Rep.                            9.641445
                            Cote d'Ivoire                          8.125859

In [289]:
# Usar pivot_table para obtener el formato deseado
df_filtered = df_merged.loc[df_merged['country_name']=="Peru"]

df_pivot = df_filtered.melt(id_vars=['country_name', 'reporting_year'], 
                            value_vars=['gini', 'Expected years of schooling'], 
                            var_name='indicator')

# Crear la tabla dinÃ¡mica
result = df_pivot.pivot_table(index='indicator', columns='reporting_year', values='value')

In [290]:
result

reporting_year,1985,1994,1997,1998,1999,2000,2001,2002,2003,2004,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
indicator,,,,,,,,,,,,,,,,,,,,,
Expected years of schooling,NaN,11.47559,11.746190,12.360095,12.974000,12.815040,13.304410,12.820850,12.329270,12.583260,...,14.197270,14.393594,14.589917,14.786240,14.495710,14.598043,14.701097,14.804879,14.804879,14.804879
gini,0.45635,0.44024,0.532594,0.551215,0.548289,0.490734,0.513063,0.535659,0.530813,0.498809,...,0.438829,0.431392,0.433564,0.436393,0.432928,0.423657,0.415283,0.437428,0.401219,0.403498